<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playground</title>
    <style>
        .box{
            background-color: {{color}};
            height: 140px;
            width: 140px;
            border: solid black 3px;
            margin-top: 10px;
            margin-right: 5px;
            margin-bottom: 10px;
            margin-left: 5px;
        }
        .container{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        h1{
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Welcome!</h1>
    {{color}}
    {{num}}
    <div class="container">
        {% for i in range(num) %}
        <div class="box">
            
        </div>
        {% endfor %}
        
    </div>
</body>
</html>